/* rem gives you the ability to define your font sizes or margins and paddings relative to the root font-size
basically so if you change that root font size anything using a rem will change accordingly aswell
https://css-tricks.com/rem-global-em-local/
this is very common thing that alot of people use instead of pixels for example in this situation
so the way we will set this up is we will use our root selector and that basically becomes our html tag */

:root {
  background-color: #ecf5ff;
  /* the sefault size in most browsers is 16 pixels 
  so 62.5% of 16 is 10 pixels so now the root font size will be 1o pixels
  so anything we reference with rem will based on 10 pixels */
  font-size: 62.5%;
}

* {
  /* with border-box this means is if i add a border to a box its going to include
  the width of that border and the calculated size of that box */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* text color off black */
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  /* this will be 5.4 * 10 pixels so 54 pixels */
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITY Classes*/
/* basically we want to center of all of stuff on the screen */
.container {
  width: 100vw;
  height: 100vh;
  /* these 3 lines allow us to center everything horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

/* child of container */
.container > * {
  width: 100%;
}

/* flex box defualt is hozizontal here we are changing that so it stacks thing on top of each other 
vertically instead of horizontally*/
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  /* need to set text decoration to none because by default anchor tags are underlined */
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* we put this here instead of making an end.css because any file can use it that has a form */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

/* this styles the text or anything in the placeholder */
input::placeholder {
  color: #aaa;
}

