
.choice-container {
    display: flex;
    /* margin on bottom between answer choices */
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    /* we will use rgb so we can do some transparancy */
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  /* the hover state is basically what we did with our buttons */
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  /* the inner element has its own padding because the entire box is filled with the blue color
  instead of padding on the container itself */
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }

  .correct {
    background-color: #28a745
  }

  .incorrect {
    background-color: #dc3545
  }

  /* HUD */

   /* display: flex;  this by default will put things side by side
   justify-content: space-between; this will space them out  */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

/* LOADER: we want to make a spinning circle */
#loader {
  border: 1.6rem solid white;
  /* without this border-radius being 50 you would have a square */
  border-radius: 50%;
  /* we override our top-border color from white to this blue */
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  /* this animation causes it to spin 
  its a spin animation that lasts two seconds 
  and it stays constant from beginning to end so we use linear
  and it spins infinitly so we use infinite
  loader example: w3schools.com How To - CSS Loader
  */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  /* this is our start deg = degrees */
  0% {
    transform: rotate(0deg);
  }
  /* this is our finish */
  100% {
    transform: rotate(360deg);
  }
}
